<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.show.dao.UserDao">
    <!--通过这种方式指定实体类与表之间对应关系，这是方法2，在下面使用加上resultMap就可以-->
    <resultMap id="UserResultMap" type="top.show.entity.User">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
    </resultMap>
    <select id="getUser" resultMap="UserResultMap">
        select *
        from user
        where user_id = #{id}
    </select>
    <select id="getAllUsers" resultType="top.show.entity.User">
        select user_id as userId, user_name as username, user_password as password
        from user
    </select>
</mapper>